<div class="contenedor">
<div class="init">
  <h1>CONTACTO</h1>
  <img src="assets/ico/whatsapp.png">
      <br>
  <p>222 429 7504
    <br>
    222 212 0465</p>
</div>
  <img src="assets/ico/c-e.png" alt="mail">
  <p>
    geomaresgeofisica
    <br>
    @gmail.com
  </p>

  <div>
    <img src="assets/ico/facebook.png">
        <br>
        <a href="https://www.facebook.com/GeomaresIngenieria">facebook.com/GeomaresIngenieria</a>
  </div>
  <div>
    <img src="assets/ico/mapa.png">
      <br>
      <p>
        Calle Antonio Pérez Rivera
        <br>
        #149, Col. El mirador
        <br>
        C.P. 91170
        <br>
        Xalapa-Enríquez, Veracruz.
      </p>
  </div>
</div>

