
<div>
  <div class="uno">
    <img src="assets/img/tierra.png" alt="roca">
  </div>

  <div class="dos">
    <h1>
      Exploración Geofísica
    </h1>
    <p>
      Los métodos de exploración geofísica nos proporcionan una visión más detallada de las propiedades
      físicas y litológicas del subsuelo, lo que contribuye a una mejor ejecución de los trabajos,
      es por esto que actualmente las técnicas geofísicas cumplen un papel muy importante en las áreas
      de la ingeniería civil, minería,geotecnia ,exploración de aguas subterráneas y
      así como en el sector energético.
    </p>
  </div>



  <div class="metodos">
    <button mat-button>Detección de cuerpos de agua subterráneos</button>
    <button mat-button >Caracterización litológica para cimentaciones</button>
    <button mat-button>Estudios geohidrológicos para elaboración de pozos de agua</button>
    <button mat-button>Localización de cavidades subterráneas y/o fracturas</button>
    <button mat-button>Exploración y caracterización de recursos minerales</button>
    <button mat-button>Mapeo de fracturas y fallas geológicas</button>
    <button mat-button>Determinación de peligro y riesgo sísmico</button>
    <button mat-button>Mapeo y monitoreo de plumas contaminantes</button>
    <button mat-button>Caracterización estratigráfica del terreno</button>
    <button mat-button>Cálculo de módulos elásticos del subsuelo
      <br>
      a partir de las velocidades de onda   (P y S)</button>
    <button mat-button>Caracterización del basamento rocoso</button>
    <button mat-button>Evaluación de bancos de material (arena, grava, roca, etc)</button>
    <button mat-button>Vibración ambiental o monitoreo de microtemores</button>
    <button mat-button>Tendidos de refracción sísmica</button>
    <button mat-button>Detección de huecos y fracturas bajo el pavimento</button>
    <button mat-button>Investigaciones Forenses, fosas clandestinas</button>
    <button mat-button>Arqueología y mapeo de estructuras</button>
    <button mat-button>Pararrayos</button>
  </div>

  <div>
    <h1>Ingeniería y construcción</h1>
    <br>
      <img src="assets/img/construccion.png" alt="construccion">
    <br>
      <button mat-stroked-button>Construcción y Diseño de Cimentaciones</button>

    <br>
      <img src="assets/img/construccion2.png" alt="pilotes">
    <br>
      <button mat-stroked-button>Pilotes para Cimentación</button>
    <br>
      <img src="assets/img/pilotes.png" alt="construccion">
    <br>
      <button mat-stroked-button>Obra Civil</button>
    <br>
  </div>

  <h1>Arrendamiento de equipo</h1>
  <div class="renta">
    <img src="assets/img/renta2.png" alt="construccion">
    <br>
    <button mat-stroked-button>Resistivímetro</button>
  </div>

</div>
